node_modules
dist
build
.next
.turbo
*.log
.env
.env.local
.env.*.local
coverage
.DS_Store
Thumbs.db
*.tsbuildinfo
apps/api/uploads
apps/api/src/generated/prisma-client
deploy-test
deploy/keys/*.pem
!deploy/keys/.gitkeep
config/hardware.id
config/license.key
